<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    {% load humanize %}
    <link rel="icon" type="image/x-icon" href="{% static 'assets/icons/icono.png'  %}">
    <link rel="stylesheet" text='html/css' href="{% static 'assets/css/bootstrap.min.css'  %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="https://kit.fontawesome.com/f4f9bd6cb0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
     {% block navbar %}{%endblock%}
    </header>
    {% block content %}{% endblock %}
    </body>
    {% include 'appMascotas/footer.html' %}
</html>