
{% extends "appMascotas/base.html" %}
{% block title %} {{publicacion.descripcion|truncatechars:25}} {% endblock %}
{% block navbar %}
  <header>
    {% include 'appMascotas/navbar.html' %}
  </header>
  {%endblock%}
{% block content %}
{%load static%}
<main role="main">
    <div class="album py-5 bg-lightgreen-adp">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-1 col-xl-2"></div>
                <div class="col-md-10 col-xl-8">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mt-5">
                        <div class="col-sm-12 col-md-6">
                            <div class="row contenedor" style="background-image: url({{publicacion.foto.url}}); background-repeat:none; background-position: center; min-height: 400px;">
                                <div class="col-8 col-sm-9 col-md-7 col-lg-8"></div>
                                <div class="col-4 col-sm-3 col-md-5 col-lg-4">
                                        {% with 'assets/icons/'|add:publicacion.especie.nombre|lower|add:'.png' as icono_especie %}
                                        <img class="w-100 p-3" src="{% static icono_especie %}" alt="">
                                        {% endwith %}
                                    <p class="text-center bg-none">{{publicacion.raza}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 bg-light d-flex flex-column">
                            <div class="row no-gutters pt-4">
                                <div class="col-1">
                                </div>
                                <div class="col-10">
                                    <small class="form-text text-muted mb-3">{{publicacion.fecha.date}}</small>
                                    <p>{{publicacion.descripcion}}</p> 
                                </div>
                                <div class="col-1">
                                </div>
                            </div>
                            <div class="row no-gutters mt-auto">
                                <div class="col-1">
                                </div>
                                <div class="col-10">                                    
                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <a class="btn btn-sm btn-success col-12"
                                                href="https://api.whatsapp.com/send?phone={{publicacion.telefono}}&text=Hola, me interesa adoptar tu mascota!">
                                                <i class="fa fa-whatsapp whatsapp-icon" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="col-4">
                                        </div>
                                        <div class="col-4">
                                            <form action="{% url 'reportar' publicacion.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" value="Denunciar"  class="btn btn-sm btn-outline-danger"/> 
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1">
                                </div>
                                <div class="col-12 mt-4">
                                    <div class="row no-gutters">
                                        <div class="col-md-12 col-lg-4 text-center border p-2 d-flex align-items-center justify-content-center">
                                            <p class="text-primary m-0">
                                                <i class="fas fa-map-marker-alt"></i>
                                                {{publicacion.localidad}}
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-lg-4 text-center border p-2 d-flex align-items-center justify-content-center">
                                            <p class="text-primary m-0">
                                                <i class="fas fa-bone"></i>
                                                {{publicacion.edad}} años
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-lg-4 text-center border p-2 d-flex align-items-center justify-content-center">
                                            <p class="text-primary m-0">
                                                {% if publicacion.sexo.nombre == "Hembra" %}
                                                    <i class="fas fa-venus"></i> Hembra
                                                {% elif publicacion.sexo.nombre == "Macho" %}
                                                    <i class="fas fa-mars"></i> Macho
                                                {%else%}
                                                    <i class="fas fa-question"></i> Desconocido
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-xl-2"></div>
                <div class="col-md-1 col-xl-2"></div>
                <div class="col-md-10 col-xl-8">
                    <button class="btn btn-info" onclick="goBack()">
                        Volver
                    </button>
                </div>
                <div class="col-md-1 col-xl-2"></div>
            </div>
            
        </div>
    </div>
  </main>
  {% load static %}
  <script src="{% static 'assets/js/volver.js' %}"></script>
{%endblock%}